.variable {
    padding: 70px;
    border: solid black 3px;
    border-radius: 15px;
    margin: 5px 10px;
    text-align: center;
    color: whitesmoke;
    background-color: rgb(109, 178, 205);
    text-shadow: black 2px 2px 4px;
    font-size: 20px;
    min-width: 71px;
    min-height: 35px;
    vertical-align: middle;
}

.variable:hover {
    background-image: linear-gradient(rgb(0 0 0/30%) 0 0);
}

h1 {
    font-size: 45px;
    margin-top: 0;
    text-shadow: whitesmoke 3px 3px 5px;
}

body {
    background: linear-gradient(skyblue, white);
    text-align: center;
    margin: 0; 
    font-family: sans-serif;
}

.wrapper {
    display: flex;
    margin: 5px auto 30px auto;
    width: 100px;
    justify-content: center;
}

#header {
    padding: 20px 60px;
    margin-top: 20px;
}

.instructions {
    text-align: left;
    margin: 0 30px 18px 30px;
    text-shadow: whitesmoke 2px 2px 4px;
}
